<!-- preloader start here -->
<div class="preloader">
  <div class="preloader-inner">
    <div class="preloader-icon">
      <span></span>
      <span></span>
    </div>
  </div>
</div>
<!-- preloader ending here -->

<!-- 404 section start here -->
<section class="four-jero padding-tb">
  <div class="container container-1310">
    <div class="fore-jero-fore">
      <div class="jero-thumb">
        <img src="assets/images/404/01.png" alt="404">
      </div>
      <div class="jero-content">
        <h3>Sorry We Can't Find That Page!</h3>
        <p>The page you are looking for was moved, removed, renamed or never existed.</p>
        <div class="search-fore-jero">
          <input class="" type="text" name="search" placeholder="Search">
          <span class="search-icon"><i class="fas fa-search"></i></span>
        </div>
        <a href="index.html" class="btn-defult">back to home</a>
      </div>
    </div>
  </div>
</section>
<!-- 404 section ending here -->
